<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd"
    colors="true"
    processIsolation="true"
    >
<testsuite name="TreviPay PHP Library Unit Tests">
    <directory suffix=".test.php">Test/Unit</directory>
</testsuite>
<coverage>
    <include>
        <directory suffix=".php">.</directory>
    </include>
    <exclude>
        <directory>vendor</directory>
        <directory>sample</directory>
    </exclude>
</coverage>
</phpunit>
